@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@400;500;700&family=Work+Sans:wght@300&display=swap');

html,
body {
  font-family: "Work Sans", sans-serif;
  background-color: #25d366;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}