@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

html,
body {
  font-family: "Work Sans", sans-serif;
  background-color: #45D1FF;
  min-height: 100vh;
}
