.home_page {
  width: 100%;
}
.chats_chatbox_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 91.5vh;
  gap: 3rem;
}
/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border: solid 5px #eef1f8;
}
.search_text {
  padding: 0 2rem;
}
.search_button {
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 9px;
}
.search_button:hover {
  background-color: #eef1f8;
}
.app_title {
  font-family: "Anton", sans-serif;
  font-size: 30px;
}
.menu_buttons_container {
  display: flex;
  gap: 10px;
}
.profile_image {
  border-radius: 100%;
  height: 15rem;
}
.dialog_heading {
  padding: 5px 0 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.search_input_container {
  display: flex;
  margin: 12px 0;
}
.search_input_container input {
  padding: 7px 14px;
  border-radius: 9px;
  border: solid 1px #adadad;
  outline: none;
  flex: 1;
  margin: 0 10px;
}
.search_input_container button {
  padding: 0 12px;
  border: none;
  border-radius: 5px;
  background-color: #e9e9e9;
  margin-right: 10px;
}
.search_input_container button:hover {
  background-color: #d3d0d0;
  cursor: pointer;
}
.search_input_container button:active {
  transform: scale(0.9);
}
.userList_item_container {
  display: flex;
  align-items: center;
  color: black;
  background-color: #e8e8e8;
  margin: 0 9px 14px;
  padding: 13px 14px;
  border-radius: 10px;
  cursor: pointer;
}
.userList_item_container:hover {
  background-color: #38b2ac;
  color: white;
}
.userList_item_container:active {
  transform: scale(0.98);
}
.userList_item_details {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  gap: 7px;
}

/* My Chats styling */
.mychats_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  flex: 1;
  border-radius: 20px;
}
.mychats_heading {
  padding: 10px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.mychats_heading button {
  display: flex;
  gap: 6px;
  align-items: center;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.mychats_heading button:hover {
  background-color: #dfdddd;
}
.mychats_heading button:active {
  transform: scale(0.96);
}
.mychats_body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f8f8f8;
  width: 90%;
  border-radius: 10px;
  overflow-y: auto;
}
.mychats_chat {
  cursor: pointer;
  background-color: #e8e8e8;
  color: black;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 10px 0;
}
.mychats_selectedChat {
  background-color: #38b2ac !important;
  color: white !important;
}

/* GroupChatDialog styling */
.groupchat_title {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.groupchat_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.groupchat_form input {
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 1px;
  outline: none;
  font-size: 17px;
}
.selectedUser_badge {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: purple;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

/* ChatBox styling */
.chatbox_container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
}

/* SingleChat styling */
.select_chat_message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.select_chat_messageText {
  font-family: "Work Sans";
  padding-bottom: 12px;
  font-size: 30px;
}
.select_chat_heading {
  font-size: 30px;
  padding: 0 8px 12px;
  width: 100%;
  font-family: "Work Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select_chat_messagesBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  background-color: #e8e8e8;
  width: 96%;
  height: 100%;
  border-radius: 10px;
  overflow-y: hidden;
}
.select_chat_sendMessage {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}
.select_chat_messages {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.select_chat_sendMessage input {
  flex: 1;
  border-radius: 5px;
  border: solid 1px #818181;
  outline: none;
  padding: 10px 0 10px 10px;
}
.select_chat_sendMessage button {
  border: solid 1px #818181;
  border-radius: 5px;
  cursor: pointer;
}
.select_chat_sendMessage button:hover {
  transform: scale(1.05);
}
.select_chat_sendMessage button:active {
  transform: scale(0.95);
}
.single_chat_messages {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.single_chat_message {
  display: flex;
}
.single_chat_message_userContainer,
.single_chat_message_senderContainer {
  display: flex;
}
.single_chat_message_userContainer {
  justify-content: flex-end;
  padding: 0 10px;
}
.single_chat_message_senderContainer {
  justify-content: flex-start;
  padding: 0 10px;
  gap: 10px;
}
.single_chat_message_user {
  background-color: #bee3f8;
  padding: 7px 15px;
  margin: 9px 0 0 0;
  border-radius: 10px;
}
.single_chat_message_sender {
  background-color: #b9f5d0;
  padding: 7px 15px;
  margin: 9px 0 0 0;
  border-radius: 10px;
}

/* UpdateGroupChat Modal styles */
.updateGroup_heading {
  font-size: 35px;
  font-family: "Work Sans";
  display: flex;
  justify-content: center;
}
.groupchat_form_row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 15px;
}
.groupchat_form_row input {
  border-radius: 8px;
  border: solid 1px #8d8c8c;
  font-size: 18px;
  outline: none;
  flex: 1 1;
  padding: 8px 9px;
}
