/* Login Page Styling */
.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_container {
  display: flex;
  justify-content: center;
  padding: 1.2rem 2rem;
  background-color: white;
  width: 35rem;
  margin: 20px 0 15px 0;
  border-radius: 10px;
  border-width: 1px;
}
.title_text {
  font-size: 30px;
  font-weight: 500;
  font-family: "Anton", sans-serif;
}
.login_container {
  background-color: white;
  width: 35rem;
  border-radius: 10px;
  border-width: 1px;
  padding: 1.2rem 31px;
}
.choose_tab_container {
  display: flex;
  justify-content: space-around;
}
.tab_item {
  cursor: pointer;
  font-weight: 600;
  padding: 10px 28px;
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}
.chosen_tab {
  background-color: #bee2f6;
  border-radius: 30px;
}

/* Login Forms Styling */
.input_container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 7px;
}
.input_container label {
  font-weight: 600;
}
.input_container input {
  padding: 12px 10px;
  border-radius: 10px;
  border: solid 1px #a7a6a6;
}
.input_container input:focus {
  outline: none !important;
  border: 2px solid #6cbbfc;
  box-shadow: 0px 0px 10px -4px #719ece;
  transition: 0.19s;
}
.form_button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #3180ce;
  margin: 2rem 0 1rem;
  border: none;
  cursor: pointer;
}
.form_button:hover {
  transform: scale(1.03);
  background-color: #3f86cc;
}
.form_button:active {
  transform: scale(0.99);
}
.input_error {
  border: 1px solid red !important;
}
.form_error {
  color: red;
  font-weight: 600;
}

/* Media Queries */
@media (max-width: 830px) {
  .title_container {
    width: 69%;
  }
  .login_container{
    width: 69%;
  }
}